<div class="flex-nd list__info-inner">
    <div>
        <p class="list__pre"><span>8 вузов</span><span>8 городов</span><span><a
                    href="https://postupi.online/specialnost/27.03.03/">27.03.03</a></span></p>
        <h2 class="list__h"><a href="https://postupi.online/programma/395/">Системный анализ и управление</a></h2>
        <p>Подготовка в области анализа, разработки, проектирования, исследования и внедрения современных сложных
            интеллектуальных систем управления.</p>
    </div>
    <div class="list__score-wrap">
        <p class="list__score"><span class="visible-mid">Cр. проходной балл бюджет 2023</span><span
                class="list__score-sm">от<b> 62 </b></span><span class="hidden-mid">бал.бюджет</span></p>
        <p class="list__score"><span class="visible-mid">Ср. проходной балл платно 2023</span><span
                class="list__score-sm">от<b> 50 </b></span><span class="hidden-mid">бал.платно</span></p>
        <p class="list__score"><span class="visible-mid">Бюджетных мест 2024</span><b> 133 </b><span class="hidden-mid">
                места бюджет</span></p>
        <p class="list__score"><span class="visible-mid">Платных мест 2024</span><b> 58 </b><span class="hidden-mid">
                мест платно</span></p>
        <div class="hint-box hidden-mid"><span class="hint-box__icon"></span>
            <div class="hint-box__info">
                <p>Средний проходной балл на бюджет в 2023 году от <b>62</b></p>
                <p>Средний проходной балл на платные места в 2023 году от <b>50</b></p>
                <p>Количество бюджетных мест в 2024 году <b>133</b></p>
                <p>Количество платных мест в 2024 году <b>58</b></p><a class="hint-box__link"
                    href="https://postupi.online/journal/postuplenie-v-vuz/prohodnoy-ball-v-vuz-sredniy-ball-ege-sredniy-prohodnoy-ball/"
                    target="_blank">Что такое средний проходной балл</a>
            </div>
        </div>
    </div>
</div>